<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <title>FOG Carport</title>
    <link rel="icon" href="../img/fog_logo_2015.jpg" type="image/x-icon">
</head>

<body>
<!-- NAVBAR -->
<div class="container">
    <nav class="navbar navbar-light bg-light shadow-sm border-left border-right">
        <form>
            <button class="px-0 mx-0 border-0" style="width: 40px;">
                <img src="../img/fog_logo_2015.jpg" class="img-fluid rounded" alt="Responsive image">
            </button>
        </form>
        <div class="d-inline-flex">
            <form class="form-inline" role="form" name="configurator" action="FrontController" method="POST">
                <input type="hidden" name="target" value="configurator">
                <button type="submit" class="btn btn-outline-secondary mr-2 active" value="submit">Konfigurator</button>
            </form>
            <form class="form-inline" role="form" name="login" action="FrontController" method="POST">
                <input type="hidden" name="target" value="prefab">
                <button type="submit" class="btn btn-outline-secondary" value="submit">Prefab</button>
            </form>
        </div>
    </nav>
</div>

<!-- BODY -->
<div class="container">
    <div class="container border border-top-0 px-4 pt-4 shadow-sm">

        <!-- ALERTS -->
        <!--<c:if test = "${requestScope.error!= null}" >-->
        <div class="alert alert-danger" role="alert">
            Error: ${requestScope.error}
        </div>
        <!--</c:if>-->
        <div class="alert alert-info" role="alert">
            Tak for din forespørgsel!
            <br>
            Inden for 5 hverdage vil du blive tilsendt et tilbud pr. email.
            <br>
            <br>
            Anmodnings ID: ${requestScope.info}
        </div>

        <!-- CONTENT -->
        <form>
            <div class="card mb-4">
                <div class="card-header">
                    Carport konfiguration
                </div>
                <div class="card-body">

                    <div class="form-row mb-3">
                        <div class="col px-0">
                            <label for="lengthRange">Længde</label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control text-right px-0 h-100 border-secondary"
                                   placeholder="cm"
                                   id="lengthInput" min="0" max="600" oninput="lengthRange.value=lengthInput.value">
                        </div>
                        <div class="col-8 border border-secondary rounded">
                            <input type="range" class="custom-range h-100" id="lengthRange" value="0"
                                   min="0" max="600" oninput="lengthInput.value=lengthRange.value">
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col px-0">
                            <label for="widthRange">Bredde</label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control text-right px-0 h-100 border-secondary"
                                   placeholder="cm"
                                   id="widthInput" min="0" max="600" oninput="widthRange.value=widthInput.value">
                        </div>
                        <div class="col-8 border border-secondary rounded">
                            <input type="range" class="custom-range h-100" id="widthRange" value="0"
                                   min="0" max="600" oninput="widthInput.value=widthRange.value">
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col px-0">
                            <label for="heightRange">Højde</label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control text-right px-0 h-100 border-secondary"
                                   placeholder="cm"
                                   id="heightInput" min="0" max="600" oninput="heightRange.value=heightInput.value">
                        </div>
                        <div class="col-8 border border-secondary rounded">
                            <input type="range" class="custom-range h-100" id="heightRange" value="0"
                                   min="0" max="600" oninput="heightInput.value=heightRange.value">
                        </div>
                    </div>
                    <div class="form-row mb-5">
                        <div class="col px-0">
                            Materiale
                        </div>
                        <select class="custom-select col-10 border-secondary">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <br>

                    <div class="form-row mb-3">
                        <div class="col px-0 form-inline">
                            Tagrejsning
                            <div class="custom-control custom-checkbox ml-auto">
                                <input type="checkbox" class="custom-control-input" id="roofCheck" name="roofCheck"
                                       onclick="toggleElement('roofInput', 'roofCheck','enable');
                                                toggleElement('roofRange', 'roofCheck','enable');
                                                toggleElement('roofMaterial', 'roofCheck','enable');">
                                <label class="custom-control-label" for="roofCheck"></label>
                            </div>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control text-right px-0 h-100 border-secondary"
                                   placeholder="cm"
                                   id="roofInput" min="0" max="600" oninput="roofRange.value=roofInput.value" disabled>
                        </div>
                        <div class="col-8 border border-secondary rounded">
                            <input type="range" class="custom-range h-100" id="roofRange" value="0"
                                   min="0" max="600" oninput="roofInput.value=roofRange.value" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col px-0">
                            Materiale
                        </div>
                        <select class="custom-select col-10 border-secondary" id="roofMaterial" disabled>
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    Kontakt information
                </div>
                <div class="card-body">
                    <div class="form-row mb-3">

                        <div class="col px-0">
                            <label for="foreNameInput">Navn</label>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control text-right h-100 border-secondary"
                                   placeholder="fornavn"
                                   id="foreNameInput" min="0" max="600" oninput="" required>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control text-right h-100 border-secondary"
                                   placeholder="efternavn"
                                   id="surNameInput" min="0" max="600" oninput="" required>
                        </div>
                    </div>
                    <div class="form-row mb-3">

                        <div class="col px-0">
                            <label for="emailInput">Kontakt</label>
                        </div>
                        <div class="col-7">
                            <input type="text" class="form-control text-right h-100 border-secondary"
                                   placeholder="email"
                                   id="emailInput" min="0" max="600" oninput="" required>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control text-right h-100 border-secondary"
                                   placeholder="telefon"
                                   id="phoneInput" min="0" max="600" oninput="" required>
                        </div>
                    </div>
                    <div class="form-row mb-3">

                        <div class="col px-0">
                            <label for="lengthRange">Adresse</label>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control text-right h-100 border-secondary"
                                   placeholder="postnummer"
                                   id="postcodeInput" min="0" max="600" oninput="" required>
                        </div>
                    </div>
                    <input type="hidden" name="target" value="prefab">
                    <button type="submit" class="btn btn-secondary float-right" value="submit">Anmod tilbud</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Optional JavaScript -->
<script src="../js/toggleelement.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
